/**
 * style_screen
 * 
 * Use this file to apply all the regular styling for modules and layout
 * 
 */

 /*** REMOVE FOR PRODUCTION ***/

.show-grid {
	margin-top: 10px;
	margin-bottom: 20px;
}
	.show-grid [class*="span"]:hover {
		background-color: #ddd;
	}
	.show-grid [class*="span"] {
		background-color: #eee;
		text-align: center;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
		min-height: 40px;
		line-height: 40px;
	}

table {
	width:100%;
	text-align:center;
}
	table tr {
		border-bottom: 1px solid #fff;
	}
	table th, 
	table td {
		padding:.5em;
	}
	table th {
		background:#e8e8e8;
		border-bottom: 1px solid #ccc;
	}
	table td {
		background: #efefef;
	}

/** END REMOVE **/	