/**
 * style_responsive
 * 
 * Use this file to apply all custom styling that must occur within 
 * Breakpoints. 
 * 
 * Typical breakpoints used are:;
 * 
 * X-Large Screen   -   > 1200px    (Large Desktop) 
 * Large Screen     -   > 980px     (Regular Desktop)
 * Medium Screen    -   > 768px     (Tablet/Small Desktop)
 * Small Screen     -   < 767px     (Handheld/Mobile)
 * 
 */

/* X-LARGE SCREEN */
@media (min-width: 1200px) { 

}

/* LARGE SCREEN */
@media (min-width: 980px) { 

}

/* MEDIUM SCREEN */
@media (min-width: 768px) and (max-width: 979px) {

}

/* SMALL SCREEN */
@media (max-width: 767px) { 

}