    
    <script src="scripts/jquery.js"></script><% if ( includeEnquire ) { %>
    <script src="scripts/enquire.js"></script><% } %>
    <script src="scripts/template.js"></script>
    
</body>
</html>