<!--(bake partials/header.html)-->

	<!--[if lt IE 7]>
    	<p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
	<![endif]-->

    <div class="container">
        <div class="row">
            <div class="span12">
                <h2><%= _.capitalize(appName) %> Website</h2>
            </div>
        </div>
        <div class="row">
            <div class="span12">
                <h2>Grid System Used</h2>
                <table>
                    <tr>
                        <th></th>
                        <th>Small</th>
                        <th>Medium</th>
                        <th>Large</th>
                        <th>Extra Large</th>
                    </tr>
                    <tr>
                        <td>Column Width</td>
                        <td>Fluid</td>
                        <td>42px</td>
                        <td>60px</td>
                        <td>70px</td>
                    </tr>
                    <tr>
                        <td>Margin</td>
                        <td>20px</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td>Gutter Width</td>
                        <td>-</td>
                        <td>20px</td>
                        <td>20px</td>
                        <td>30px</td>
                    </tr>
                    <tr>
                        <td>Width</td>
                        <td>Fluid</td>
                        <td>768px</td>
                        <td>980px</td>
                        <td>1200px</td>
                    </tr>
                    
                </table>
            </div>
        </div>
       
        <div class="row">
            <div class="span12">
                <h2>Example Grid</h2>
            </div>
        </div>

        <div class="bs-docs-grid">
            <div class="row show-grid">
              <div class="span1">1</div>
              <div class="span1" data-original-title="" title="">1</div>
              <div class="span1" data-original-title="" title="">1</div>
              <div class="span1">1</div>
              <div class="span1">1</div>
              <div class="span1">1</div>
              <div class="span1">1</div>
              <div class="span1">1</div>
              <div class="span1">1</div>
              <div class="span1">1</div>
              <div class="span1">1</div>
              <div class="span1">1</div>
            </div>
            <div class="row show-grid">
              <div class="span3">3</div>
              <div class="span3">3</div>
              <div class="span6">6</div>
            </div>
            <div class="row show-grid">
              <div class="span4">4</div>
              <div class="span8">8</div>
            </div>
            <div class="row show-grid">
              <div class="span12">12</div>
            </div>
        </div>
    </div>

<!--(bake partials/footer.html)-->
